
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Define a direção do layout como coluna */
    min-height: 100vh; /* Garante que o conteúdo ocupe pelo menos toda a altura da tela */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.intro {
    padding: 50px;
    text-align: center;
    flex-grow: 1; /* Permite que a seção de introdução ocupe o espaço restante vertical */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.contact {
    margin-bottom: 20px;
}

footer p {
    margin: 5px 0;
}
